quality/
*.log*
.idea/
.gradle
*.iml
*.ipr
*.iws
open-lmis.ids
build/
out/
classes
*.DS_Store
*.class
src/main/webapp/public/css/
src/main/webapp/public/minJs
src/test/coverage/
src/test/karma/
test-modules/functional-tests/src/main/resources/**/*.png
build.gradle.swp
node_modules/
